body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.container{
    padding: 10px;
    border: 1px solid;
    border-color: lightblue;
    width: 500px;
    margin: auto;
}
span{
    color: darkorange;
    font-weight: bold;
}
img{
    width: 100px;
}